@charset "utf-8";

body {
	font-family: 'Times New Roman', Times, serif;
    font-size: 125%;
    color:red;
    align-content: center;
    background-color: aqua;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
}
p{
    color:aliceblue;
}